@model IEnumerable<Intex.models.OrderDetails>

@{
    ViewBag.Title = "Test Complete Orders";
    Layout = "~/Views/Shared/_SingaporeLayout.cshtml";
}

<header class="employee-header order-table-box">
    <div>
        <h2 style="float: left;">Test Complete Work Orders</h2>
        <input id="myInput" onkeyup="myFunction()" class="form-control search-bar" type="search" placeholder="Search by customer" />
    </div>
    <div>
        <table id="allOrders" class="table" style="font-size: 15px;">
            <thead style="text-align: left; border-bottom: 2px solid azure;">
                <tr class="order-table-header">
                    <th>
                        LT Number
                    </th>
                    <th class="order-table-col-2">
                        Compound Name
                    </th>
                    <th class="order-table-col-2">
                        Customer Name
                    </th>
                    <th class="order-table-col-2">
                        Receive Date
                    </th>
                    <th class="order-table-col-2">
                        Test Due Date
                    </th>
                    <th class="order-table-col-2">
                        Comments
                    </th>
                    <th class="order-table-col-2">
                        Discount (Y/N)
                    </th>
                    <th class="order-table-col-2"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="order-table-row">
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkOrder.LTNumber)
                        </td>
                        <td class="order-table-col-2">
                            @Html.DisplayFor(modelItem => item.WorkOrder.compounds.CompoundName)
                        </td>
                        <td class="order-table-col-2">
                            @Html.DisplayFor(modelItem => item.WorkOrder.customers.CustomerName)
                        </td>
                        <td class="order-table-col-2">
                            @Html.DisplayFor(modelItem => item.WorkOrder.ReceiveDate)
                        </td>
                        <td class="order-table-col-2">
                            @Html.DisplayFor(modelItem => item.WorkOrder.DateDue)
                        </td>
                        <td class="order-table-col-2">
                            @Html.DisplayFor(modelItem => item.WorkOrder.Comments)
                        </td>
                        <td class="order-table-col-2">
                            @Html.DisplayFor(modelItem => item.WorkOrder.HasDiscount)
                        </td>
                        <td class="order-table-col-2">
                            @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrder.LTNumber }) |
                            @Html.ActionLink("Details", "Details", new { id = item.WorkOrder.LTNumber })
                        </td>
                    </tr>
                    <tr class="hidden">
                        <td colspan="6">
                            <table style="width: 100%;">
                                @foreach (var child in item.SampleList)
                                {
                                <tr class="sample-row">
                                    <td>@Html.DisplayFor(modelItem => child.Key.SampleID)</td>
                                    <td class="order-table-col-2">@Html.DisplayFor(modelItem => child.Key.SequenceNumber)</td>
                                    <td class="order-table-col-2">@Html.DisplayFor(modelItem => child.Key.Quantity)</td>
                                    <td class="order-table-col-2">@Html.DisplayFor(modelItem => child.Key.assay.AssayName)</td>
                                    @if (child.Key.AssayFinished == false)
                                    {
                                        <td class="order-table-col-2" style="color: red;">In Progress</td>
                                    }
                                    else
                                    {
                                        <td class="order-table-col-2" style="color: green;">Testing Completed</td>
                                    }
                                    <td class="order-table-col-2">
                                        @Html.ActionLink("Edit", "EditSample", new { id = child.Key.SampleID }) |
                                        @Html.ActionLink("Details", "Details", new { id = child.Key.SampleID })
                                    </td>
                                </tr>
                                    <tr class="hidden">
                                        <td colspan="6">
                                            <table style="width: 100%;">
                                                @foreach (var grandchild in child.Value)
                                                {
                                                    <tr>
                                                        <td>@Html.DisplayFor(modelItem => grandchild.TestTubeID)</td>
                                                        <td>@Html.DisplayFor(modelItem => grandchild.TestTubeNumber)</td>
                                                        <td>@Html.DisplayFor(modelItem => grandchild.Concentration)</td>
                                                        <td>@Html.DisplayFor(modelItem => grandchild.test.TestName)</td>
                                                        @if (grandchild.IsRequired == true)
                                                        {
                                                            <td style="color: blue;">Required Test</td>
                                                        }
                                                        else
                                                        {
                                                            <td style="color: yellow;">Conditional Test</td>
                                                        }
                                                    </tr>
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <script>
            function myFunction() {
                // Declare variables
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                table = document.getElementById("allOrders");
                tr = table.getElementsByClassName("order-table-row");

                // Loop through all table rows, and hide those who don't match the search query
                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[2];
                    if (td) {
                        txtValue = td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        }
                        else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
        <br />
        <button class="btn btn-danger btn-lg">Delete Orders</button>
    </div>
</header>

