@model Intex.models.WorkOrders

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SeattleLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WorkOrders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.compounds.CompoundName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.compounds.CompoundName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.customers.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.customers.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReceiveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReceiveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConfirmDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConfirmDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasDiscount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LTNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
